<div class="container-chart container-dark-light">

    <div class="container-title">
        <div class="title">
            <p>{{'Monthly Income and Expense Trend' | translate}} {{year}}</p>
        </div>
        <div class="filter">
            <i class="pi pi-filter" (click)="popoverFilter.openPopeverFilter($event)"></i>
        </div>
    </div>
    <div class="container-chart-element-month">
        @if (!loadingTransactionLineByUserId()) {
        <p-chart type="line" [data]="dataMonthMoney" [options]="optionsMonthMoney"></p-chart>
        } @else {
        <div class="chart-skeleton">
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
        }
    </div>
</div>

<app-popover-filter #popoverFilter (dateFilter)="onDateChange($event)"></app-popover-filter>