<div class="container">
    <div class="inc-exp-container">
        <div class="inc-exp-balance">
            <div class="title">
                Total Income
            </div>
            <p class="amount">{{ totalIncome | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</p>
        </div>
        <div class="inc-exp-balance">
            <div class="title">
                Total Expenses
            </div>
            <p class="amount">{{ totalExpense | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</p>
        </div>
        <div class="inc-exp-balance">
            <div class="title">
                General Balance
            </div>
            <p class="amount">{{ generalBalance | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</p>
        </div>
    </div>
    <div class="inc-exp-container">
        <div class="inc-exp-balance">
            <div class="title">
                Monthly Income
            </div>
            <p class="amount">{{ monthlyIncome | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</p>
        </div>
        <div class="inc-exp-balance">
            <div class="title">
                Monthly Expenses
            </div>
            <p class="amount">{{ monthlyExpense | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</p>
        </div>
        <div class="inc-exp-balance">
            <div class="title">
                Monthly Balance
            </div>
            <p class="amount">{{ monthlyBalance | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</p>
        </div>
    </div>
</div>


<div class="container-chart">
    <p-chart type="bar" [data]="dataMonth" [options]="optionsMonth"></p-chart>
</div>

<div class="container-chart">
    <div class="container-chart-element">
        <p-chart type="bar" [data]="dataIncome" [options]="optionsIncome"></p-chart>
    </div>
    <div class="container-chart-element">
        <p-chart type="doughnut" [data]="dataExpense" [options]="optionsExpense"></p-chart>
    </div>
</div>

<div class="container-chart">
    <p-chart type="line" [data]="dataMonthMoney" [options]="optionsMonthMoney"></p-chart>
</div>