<div class="container">
    <div class="inc-exp-container">
        @if (!loadingBalanceByUserId()) {
        <div class="inc-exp-balance">
            <div class="title">
                {{'Total Income' | translate}}
            </div>
            <p class="amount">{{ totalIncome | currency: authService.currentCurrency()?.code: 'symbol':
                authService.currentCurrency()?.digits : authService.currentCurrency()?.locale }}</p>
        </div>
        } @else {
        <p-skeleton width="10rem" height="5rem"></p-skeleton>
        }


        @if (!loadingBalanceByUserId()) {
        <div class="inc-exp-balance">
            <div class="title">
                {{'Total Expense' | translate}}
            </div>
            <p class="amount">{{ totalExpense | currency: authService.currentCurrency()?.code: 'symbol':
                authService.currentCurrency()?.digits : authService.currentCurrency()?.locale }}</p>
        </div>
        } @else {
        <p-skeleton width="10rem" height="5rem"></p-skeleton>
        }


        @if (!loadingBalanceByUserId()) {
        <div class="inc-exp-balance">
            <div class="title">
                {{'General Balance' | translate}}
            </div>
            <p class="amount">{{ generalBalance | currency: authService.currentCurrency()?.code: 'symbol':
                authService.currentCurrency()?.digits : authService.currentCurrency()?.locale }}</p>
        </div>
        } @else {
        <p-skeleton width="10rem" height="5rem"></p-skeleton>
        }
    </div>


    <div class="inc-exp-container">
        @if (!loadingBalanceByUserId()) {
        <div class="inc-exp-balance">
            <div class="title">
                {{'Monthly Income' | translate}}
            </div>
            <p class="amount">{{ monthlyIncome | currency: authService.currentCurrency()?.code: 'symbol':
                authService.currentCurrency()?.digits : authService.currentCurrency()?.locale }}</p>
        </div>
        } @else {
        <p-skeleton width="10rem" height="5rem"></p-skeleton>
        }


        @if (!loadingBalanceByUserId()) {
        <div class="inc-exp-balance">
            <div class="title">
                {{'Monthly Expense' | translate}}
            </div>
            <p class="amount">{{ monthlyExpense | currency: authService.currentCurrency()?.code: 'symbol':
                authService.currentCurrency()?.digits : authService.currentCurrency()?.locale }}</p>
        </div>

        } @else {
        <p-skeleton width="10rem" height="5rem"></p-skeleton>
        }



        @if (!loadingBalanceByUserId()) {
        <div class="inc-exp-balance">
            <div class="title">
                {{'Monthly Balance' | translate}}
            </div>
            <p class="amount">{{ monthlyBalance | currency: authService.currentCurrency()?.code: 'symbol':
                authService.currentCurrency()?.digits : authService.currentCurrency()?.locale }}</p>
        </div>

        } @else {
        <p-skeleton width="10rem" height="5rem"></p-skeleton>
        }

    </div>
</div>


<div class="container-chart">
    <div class="title">
        <p>{{'Annual Income and Expense Summary' | translate}}</p>
    </div>
    <div class="container-chart-element-month">
        @if (!loadingTransactionBarByUserId()) {
        <p-chart type="bar" [data]="dataMonth" [options]="optionsMonth"></p-chart>
        } @else {
        <div class="chart-skeleton">
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
        }
    </div>
</div>

<div class="container-chart">
    <div class="container-chart-element">
        <div class="top">
            <div class="title">
                <p>{{'Top 5 Income Categories' | translate}}</p>
            </div>
        </div>
        @if (!loadingTransactionBarIncomeExpenseByUserIdAndType()) {
        <p-chart type="bar" [data]="dataIncome" [options]="optionsIncome"></p-chart>
        } @else {
        <div class="chart-skeleton">
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
        }
    </div>
    <div class="container-chart-element">
        <div class="top">
            <div class="title">
                <p>{{'Top 5 Expense Categories' | translate}}</p>
            </div>
        </div>
        @if (!loadingTransactionBarIncomeExpenseByUserIdAndType()) {
        <p-chart type="doughnut" [data]="dataExpense" [options]="optionsExpense"></p-chart>
        } @else {
        <div class="chart-skeleton">
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
        }
    </div>
</div>

<div class="container-chart">
    <div class="title">
        <p>{{'Monthly Income and Expense Trend' | translate}}</p>
    </div>
    <div class="container-chart-element-month">
        @if (!loadingTransactionLineByUserId()) {
        <p-chart type="line" [data]="dataMonthMoney" [options]="optionsMonthMoney"></p-chart>
        } @else {
        <div class="chart-skeleton">
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
        }
    </div>
</div>