<div class="wrapper">
    <div class="container">
        <div class="container-sign-in">
            <label class="title-sign-in">Sign In</label>
            <div class="sign-in-other">
                <p-chip label="GitHub" icon="pi pi-github" />
                <p-chip label="Facebook" icon="pi pi-facebook" />
                <p-chip label="Google" icon="pi pi-google" />
            </div>
            <div class="container-form-sign-in">
                <p-floatlabel variant="on">
                    <input pInputText id="on_label" autocomplete="off" pSize="small" />
                    <label for="on_label">Email</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-password size="small" [toggleMask]="true" />
                    <label for="on_label">Password</label>
                </p-floatlabel>
                <label class="forget-pwd">Forget Your Password?</label>
                <div class="btn-sign-in">
                    <p-button label="Enter Your Spending Hub" (onClick)="SignIn()"/>
                    <p-button styleClass="btn-sign-up" label="Sign Up" (onClick)="SignUp()" />
                </div>
            </div>
        </div>
        <div class="container-sign-up">
            <label class="title-sign-up">Track Your Spending Easily</label>
            <p class="sign-up-description">Sign up to manage your card transactions and track your spending history.</p>
            <p-button styleClass="btn-sign-up" label="Sign Up" (onClick)="SignUp()" />
        </div>
    </div>
</div>