p-chart {
    width: 100%;
}

.container-chart {
    .title {
        font-size: 20px;
        font-weight: 500;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
    column-gap: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    background: white;
}

.container-chart-element-month {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-skeleton {
    width: 100%;
    height: 40vh;
}

@media (max-width: 959px) {
    .container-chart {
        .title {
            font-size: 15px;
            text-align: center;
        }

        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

@media (max-width: 768px) {
    .container-chart {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}