<div class="container-chart container-dark-light">
    <div class="container-chart-element">
        <div class="container-title">
            <div class="title">
                <p>{{'Top 5 Income Categories' | translate}} {{yearIncome}}</p>
            </div>
            <div class="filter">
                <i class="pi pi-filter" (click)="popoverFilter1.openPopeverFilter($event)"></i>
            </div>
        </div>
        @if (!loadingIncome()) {
        <p-chart type="bar" [data]="dataIncome" [options]="optionsIncome"></p-chart>
        } @else {
        <div class="chart-skeleton">
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
        }
    </div>
    <div class="container-chart-element">
        <div class="container-title">
            <div class="title">
                <p>{{'Top 5 Expense Categories' | translate}} {{yearExpense}}</p>
            </div>
            <div class="filter">
                <i class="pi pi-filter" (click)="popoverFilter2.openPopeverFilter($event)"></i>
            </div>
        </div>
        @if (!loadingExpense()) {
        <p-chart type="doughnut" [data]="dataExpense" [options]="optionsExpense"></p-chart>
        } @else {
        <div class="chart-skeleton">
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
        }
    </div>
</div>

<app-popover-filter #popoverFilter1 (dateFilter)="onDateChangeIncome($event)"></app-popover-filter>
<app-popover-filter #popoverFilter2 (dateFilter)="onDateChangeExpense($event)"></app-popover-filter>